.dashboard-background {
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 99%;
  height: 98%;
  background: #fff url('/assets/images/bg-grid.png') repeat left top;
  overflow: hidden;
  z-index: 1;
}
